In [2]:
import torch
from ultra import datasets
from torch_geometric.datasets import MovieLens1M, MovieLens100K


# Load MovieLens 1M dataset (adjust root if needed) push test
#dataset = MovieLens1M(root='/usr/itetnas04/data-scratch-01/trachsele/data/tl4rec/temp_pyg')
dataset= datasets.Epinions(root= "/itet-stor/trachsele/net_scratch/tl4rec/model_outputs/data")
test= dataset[2]

# Assuming test.target_edge_index is defined and is a tensor of shape (2, num_edges)
user_ids = test.target_edge_index[0]  # row 0 contains user indices
unique_users, counts = torch.unique(user_ids, return_counts=True)
avg_interactions = counts.float().mean().item()
print("Average test interactions per user:", avg_interactions)

Average test interactions per user: 9.729940414428711

In [5]:
from ultra import datasets

dataset = datasets.Yelp18(root = "/itet-stor/trachsele/net_scratch/tl4rec/model_outputs/data")
print (f"dataset[0].edge_index.shape{: dataset[0].edge_index.shape}")

dataset[0].edge_index.shapetorch.Size([2, 2194014])

In [1]:
import sqlite3
import pandas as pd

# File and datasets list
DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results.db" 
DATASETS = [
    "Epinions", "LastFM", "BookX", "Ml1m", "Gowalla",
    "Amazon_Beauty", "Amazon_Fashion", "Amazon_Men", "Amazon_Games", "Yelp18"
]

# Connect to the database and load the experiments table
conn = sqlite3.connect(DB_FILE)
df = pd.read_sql("SELECT * FROM experiments", conn)
conn.close()

# Filter for experiments that correspond to zero-shot (epochs=0) and fine tuning (epochs=1)
filtered_df = df[df['epochs'].isin([0, 1])]

# Exclude rows where the checkpoint is simply the dataset checkpoint (e.g. "LastFM.pth" for LastFM)
filtered_df = filtered_df[~filtered_df.apply(
    lambda row: row['ckpt'] == f"{row['dataset']}.pth", axis=1
)]

# List to collect top 3 results for each dataset and epoch type
results_list = []

for ds in DATASETS:
    # Filter the dataframe for the current dataset
    ds_df = filtered_df[filtered_df['dataset'] == ds]
    if ds_df.empty:
        continue  # Skip if no experiments exist for this dataset
    # Choose the metric: test_ndcg@20 for Gowalla and Yelp18, else test_hits@10
    metric = "test_ndcg@20" if ds in ["Gowalla", "Yelp18"] else "test_hits@10"
    
    # For both epoch types: 0 (zero-shot) and 1 (fine tuning)
    for epoch in [0, 1]:
        epoch_df = ds_df[ds_df['epochs'] == epoch]
        if not epoch_df.empty:
            # Sort by the chosen metric in descending order and take the top 3 entries
            top3 = epoch_df.sort_values(by=metric, ascending=False).head(3)
            results_list.append(top3)

# Concatenate all the top results
final_results = pd.concat(results_list)

# Save the results to a CSV file
final_results.to_csv("best_results_multi.csv", index=False)

# Optionally, print the results
print(final_results)

                        ckpt         dataset  epochs      bpe   FT   valid_mr  \
128        Amazon_Beauty.pth        Epinions     0.0   5130.0  0.0        NaN
143                BookX.pth        Epinions     0.0   5130.0  0.0        NaN
127   Beauty_Games_tuned.pth        Epinions     0.0   5130.0  0.0        NaN
153               LastFM.pth        Epinions     1.0   5130.0  0.0        NaN
278            Beau_Epin.pth        Epinions     1.0   5130.0  0.0        NaN
271       Beau_Epin_Book.pth        Epinions     1.0   5130.0  0.0        NaN
199         Amazon_Games.pth          LastFM     0.0    763.0  0.0        NaN
216                BookX.pth          LastFM     0.0    763.0  0.0        NaN
269            Beau_Epin.pth          LastFM     0.0    763.0  0.0        NaN
206   Men_Epin_Gowa_Book.pth          LastFM     1.0    763.0  0.0        NaN
224     inionsBeautyMl1m.pth          LastFM     1.0    763.0  0.0        NaN
266       Beau_Epin_Book.pth          LastFM     1.0    763.0  0.0        NaN
177        Amazon_Beauty.pth           BookX     0.0   5314.0  0.0        NaN
193               Yelp18.pth           BookX     0.0   5314.0  0.0        NaN
188              Gowalla.pth           BookX     0.0   5314.0  0.0        NaN
284            Beau_Epin.pth           BookX     1.0   5314.0  0.0        NaN
214              Gowalla.pth           BookX     1.0   5314.0  0.0        NaN
183         Amazon_Games.pth           BookX     1.0   5314.0  0.0        NaN
102       Amazon_Fashion.pth            Ml1m     0.0   7012.0  0.0        NaN
106             Epinions.pth            Ml1m     0.0   7012.0  0.0        NaN
112                BookX.pth            Ml1m     0.0   7012.0  0.0        NaN
122              Gowalla.pth            Ml1m     1.0   7012.0  0.0        NaN
115         Amazon_Games.pth            Ml1m     1.0   7012.0  0.0        NaN
119             Epinions.pth            Ml1m     1.0   7012.0  0.0        NaN
245   Men_Epin_Gowa_Book.pth         Gowalla     0.0  13702.0  0.0        NaN
289  Beau_Epin_Book_Game.pth         Gowalla     0.0  13702.0  0.0        NaN
262     inionsBeautyMl1m.pth         Gowalla     0.0  13702.0  0.0        NaN
275                 Ml1m.pth         Gowalla     1.0  13702.0  0.0        NaN
253   Men_Epin_Gowa_Book.pth         Gowalla     1.0  13702.0  0.0        NaN
260           Amazon_Men.pth         Gowalla     1.0  13702.0  0.0        NaN
4           Amazon_Games.pth   Amazon_Beauty     0.0   5652.0  0.0  23.250067
298            Beau_Epin.pth   Amazon_Beauty     0.0   5652.0  0.0  27.119696
5     Beauty_Games_tuned.pth   Amazon_Beauty     0.0   5652.0  0.0  24.637812
299       Beau_Epin_Book.pth   Amazon_Beauty     1.0   5652.0  0.0  22.737341
301            Beau_Epin.pth   Amazon_Beauty     1.0   5652.0  0.0  22.672081
300  Beau_Epin_Book_Game.pth   Amazon_Beauty     1.0   5652.0  0.0  22.868097
302       Beau_Epin_Book.pth  Amazon_Fashion     0.0   5146.0  0.0  46.528683
60            Amazon_Men.pth  Amazon_Fashion     0.0   5146.0  0.0  24.167511
61              Epinions.pth  Amazon_Fashion     0.0   5146.0  0.0  48.230251
82                Yelp18.pth  Amazon_Fashion     1.0   5146.0  0.0  25.617395
55          Amazon_Games.pth  Amazon_Fashion     1.0   5146.0  0.0  24.385761
56         Amazon_Beauty.pth  Amazon_Fashion     1.0   5146.0  0.0  24.382069
84        Amazon_Fashion.pth      Amazon_Men     0.0   3584.0  0.0  25.418297
303       Beau_Epin_Book.pth      Amazon_Men     0.0   3584.0  0.0  45.207424
86              Epinions.pth      Amazon_Men     0.0   3584.0  0.0  46.252464
90                  Ml1m.pth      Amazon_Men     1.0   3584.0  0.0  25.736515
309       Beau_Epin_Book.pth      Amazon_Men     1.0   3584.0  0.0  24.771160
79          Amazon_Games.pth      Amazon_Men     1.0   3584.0  0.0  24.695780
321            Beau_Epin.pth    Amazon_Games     0.0   4332.0  0.0  12.810796
18    Beauty_Games_tuned.pth    Amazon_Games     0.0   4332.0  0.0  12.770233
22    Men_Epin_Gowa_Book.pth    Amazon_Games     0.0   4332.0  0.0  16.017067
322            Beau_Epin.pth    Amazon_Games     1.0   4332.0  0.0  12.819008
21    Beauty_Games_tuned.pth    Amazon_Games     1.0   4332.0  0.0  13.207520
24    Men_Epin_Gowa_Book.pth    Amazon_Games     1.0   4332.0  0.0  13.298224
315  Beau_Epin_Book_Game.pth          Yelp18     0.0  21096.0  0.0        NaN
156   Men_Epin_Gowa_Book.pth          Yelp18     0.0  21096.0  0.0        NaN
148        Amazon_Beauty.pth          Yelp18     0.0  21096.0  0.0        NaN
161        Amazon_Beauty.pth          Yelp18     1.0  21096.0  0.0        NaN
168           Amazon_Men.pth          Yelp18     1.0  21096.0  0.0        NaN
163         Amazon_Games.pth          Yelp18     1.0  21096.0  0.0        NaN

     valid_mrr  valid_hits@1  valid_hits@3  valid_hits@10  valid_ndcg@10  \
128   0.373743      0.256808      0.425199       0.605657       0.249757
143   0.385584      0.269533      0.439705       0.614492       0.256860
127   0.364359      0.244478      0.416694       0.603415       0.246438
153   0.371827      0.252983      0.428035       0.608558       0.249779
278   0.380611      0.259840      0.437133       0.615283       0.254128
271   0.353537      0.242302      0.397903       0.580141       0.230249
199   0.499368      0.351811      0.584522       0.791438       0.292258
216   0.514355      0.372119      0.594402       0.803513       0.298334
269   0.513498      0.371570      0.594951       0.796926       0.299999
206   0.524111      0.382547      0.605379       0.804610       0.302915
224   0.528584      0.393524      0.597146       0.800768       0.303475
266   0.533139      0.393524      0.614709       0.808452       0.311377
177   0.353177      0.257406      0.391481       0.543369       0.236224
193   0.350521      0.253727      0.390803       0.540465       0.232609
188   0.348301      0.252662      0.389545       0.533882       0.230500
284   0.359398      0.261084      0.401355       0.550048       0.240202
214   0.359938      0.265150      0.399129       0.543272       0.238137
183   0.358785      0.263020      0.398161       0.544627       0.238537
102   0.653449      0.512992      0.755636       0.912304       0.427061
106   0.630428      0.483187      0.736148       0.900650       0.391237
112   0.642867      0.493886      0.752197       0.913260       0.419831
122   0.614567      0.450516      0.739587       0.908483       0.403247
115   0.641001      0.490638      0.752197       0.912304       0.416427
119   0.660887      0.519297      0.766144       0.909820       0.430386
245   0.182596      0.106133      0.193694       0.340231            NaN
289   0.182111      0.104366      0.194283       0.342194            NaN
262   0.171116      0.094825      0.181326       0.328726            NaN
275   0.176220      0.099615      0.187176       0.335244            NaN
253   0.187719      0.109824      0.201743       0.347573            NaN
260   0.180403      0.103071      0.192045       0.340113            NaN
4     0.328880      0.233182      0.352893       0.513735       0.360118
298   0.327170      0.237344      0.354291       0.493655       0.355704
5     0.331974      0.238615      0.363143       0.493960       0.364398
299   0.339746      0.241015      0.367187       0.533483       0.373786
301   0.343049      0.243982      0.371789       0.535530       0.376997
300   0.341139      0.242382      0.369848       0.533835       0.375275
302   0.211432      0.138319      0.223380       0.338509       0.228616
60    0.234520      0.153271      0.254497       0.314279       0.274156
61    0.181929      0.114828      0.179758       0.312580       0.198752
82    0.224131      0.137708      0.237022       0.374894       0.249691
55    0.242259      0.158481      0.259003       0.363726       0.272594
56    0.242126      0.158326      0.258963       0.363098       0.272519
84    0.237684      0.148277      0.257195       0.395082       0.266126
303   0.223502      0.145141      0.242939       0.356092       0.242300
86    0.200768      0.126551      0.204678       0.349171       0.222633
90    0.240768      0.146531      0.264198       0.412849       0.269692
309   0.249511      0.158802      0.270833       0.410162       0.278370
79    0.250897      0.161155      0.273917       0.402739       0.280657
321   0.498632      0.375535      0.563199       0.735122       0.547804
18    0.496249      0.372862      0.562331       0.729582       0.544537
22    0.451471      0.331543      0.510055       0.681959       0.498254
322   0.503315      0.380266      0.568512       0.739348       0.552508
21    0.495934      0.373082      0.559839       0.732093       0.544913
24    0.496151      0.373379      0.559710       0.732882       0.545337
315   0.107824      0.048118      0.106645       0.226990            NaN
156   0.107779      0.048588      0.107048       0.225043            NaN
148   0.110162      0.049931      0.108861       0.232396            NaN
161   0.104732      0.046540      0.104664       0.218696            NaN
168   0.104504      0.046137      0.104060       0.219167            NaN
163   0.104191      0.045801      0.104664       0.218696            NaN

       test_mr  test_mrr  test_hits@1  test_hits@3  test_hits@10  \
128        NaN  0.104845     0.055708     0.110844      0.199794
143        NaN  0.104641     0.057542     0.108207      0.193948
127        NaN  0.099538     0.048945     0.104998      0.191999
153        NaN  0.107602     0.058116     0.114168      0.199106
278        NaN  0.099623     0.052499     0.104425      0.190050
271        NaN  0.091289     0.045048     0.096171      0.181453
199        NaN  0.540118     0.388859     0.632441      0.838886
216        NaN  0.565247     0.429274     0.646641      0.838340
269        NaN  0.563749     0.429820     0.633534      0.838340
206        NaN  0.560339     0.422174     0.638995      0.836155
224        NaN  0.565423     0.430912     0.635718      0.835063
266        NaN  0.567884     0.433643     0.640087      0.833424
177        NaN  0.367883     0.268966     0.407922      0.565983
193        NaN  0.367139     0.267195     0.407735      0.561323
188        NaN  0.361320     0.261510     0.401864      0.558993
284        NaN  0.373627     0.271668     0.417428      0.574744
214        NaN  0.370977     0.270270     0.414818      0.570736
183        NaN  0.371815     0.269897     0.416869      0.568872
102        NaN  0.527884     0.357384     0.642052      0.831454
106        NaN  0.587666     0.459414     0.669673      0.830891
112        NaN  0.578144     0.443067     0.670800      0.828072
122        NaN  0.574899     0.408117     0.691094      0.885569
115        NaN  0.582953     0.439684     0.675874      0.878241
119        NaN  0.590163     0.447576     0.684893      0.875986
245        NaN  0.235702     0.137919     0.255677      0.445107
289        NaN  0.232284     0.133599     0.252194      0.441858
262        NaN  0.231068     0.137585     0.248912      0.427591
275        NaN  0.238893     0.137618     0.260768      0.455891
253        NaN  0.235964     0.135173     0.259528      0.447954
260        NaN  0.232092     0.131087     0.252629      0.448724
4    26.308872  0.274782     0.180098     0.295723      0.453717
298  30.034424  0.270012     0.181710     0.292134      0.431574
5    27.762640  0.272602     0.181504     0.297501      0.423637
299  26.035456  0.280645     0.184261     0.303077      0.466834
301  26.124449  0.283741     0.187528     0.307402      0.466739
300  26.176212  0.281608     0.185896     0.304559      0.465611
302  47.973755  0.203206     0.130909     0.214465      0.328576
60   24.182516  0.226937     0.146902     0.245020      0.301713
61   49.924797  0.171524     0.106077     0.168179      0.298792
82   25.704670  0.216536     0.131170     0.228931      0.360274
55   24.456404  0.233479     0.150199     0.248446      0.352474
56   24.456049  0.233377     0.150168     0.248424      0.351793
84   25.976446  0.221902     0.135072     0.237449      0.372976
303  47.367893  0.208430     0.132782     0.225196      0.335895
86   48.470543  0.185725     0.114286     0.187636      0.329850
90   26.560764  0.225971     0.134844     0.246040      0.390468
309  25.498417  0.232106     0.143319     0.250958      0.386561
79   25.432945  0.233519     0.145567     0.253440      0.380335
321  15.979968  0.416310     0.290457     0.472710      0.665221
18   15.705790  0.412913     0.286716     0.469771      0.659189
22   19.133884  0.381067     0.260140     0.430918      0.621003
322  15.752647  0.422962     0.296191     0.480185      0.673680
21   16.239273  0.415387     0.289091     0.470982      0.666470
24   16.546377  0.413267     0.287208     0.468930      0.664108
315        NaN  0.117173     0.046293     0.113837      0.260989
156        NaN  0.116860     0.046261     0.113743      0.259536
148        NaN  0.118387     0.047177     0.114974      0.264273
161        NaN  0.133385     0.055829     0.134110      0.292125
168        NaN  0.132446     0.055229     0.132500      0.290104
163        NaN  0.131309     0.053808     0.132405      0.288177

     test_ndcg@10  valid_ndcg@20  test_ndcg@20
128      0.053694            NaN           NaN
143      0.051233            NaN           NaN
127      0.052259            NaN           NaN
153      0.054179            NaN           NaN
278      0.051523            NaN           NaN
271      0.047597            NaN           NaN
199      0.312129            NaN           NaN
216      0.319667            NaN           NaN
269      0.318214            NaN           NaN
206      0.320939            NaN           NaN
224      0.319735            NaN           NaN
266      0.324850            NaN           NaN
177      0.245595            NaN           NaN
193      0.242484            NaN           NaN
188      0.239902            NaN           NaN
284      0.249719            NaN           NaN
214      0.248004            NaN           NaN
183      0.247628            NaN           NaN
102      0.361659            NaN           NaN
106      0.401936            NaN           NaN
112      0.396246            NaN           NaN
122      0.392792            NaN           NaN
115      0.384467            NaN           NaN
119      0.394464            NaN           NaN
245           NaN       0.132981      0.133561
289           NaN       0.133605      0.133006
262           NaN       0.120878      0.122069
275           NaN       0.130105      0.136799
253           NaN       0.136428      0.135092
260           NaN       0.132958      0.134862
4        0.303520       0.000000      0.000000
298      0.296009            NaN           NaN
5        0.299999       0.000000      0.000000
299      0.311540            NaN           NaN
301      0.314046            NaN           NaN
300      0.312212            NaN           NaN
302      0.220024            NaN           NaN
60       0.267852            NaN           NaN
61       0.187533            NaN           NaN
82       0.240566            NaN           NaN
55       0.263091            NaN           NaN
56       0.263031            NaN           NaN
84       0.248707            NaN           NaN
303      0.225876            NaN           NaN
86       0.206493            NaN           NaN
90       0.252602            NaN           NaN
309      0.259288            NaN           NaN
79       0.261411            NaN           NaN
321      0.466342            NaN           NaN
18       0.462013       0.000000      0.000000
22       0.428290       0.000000      0.000000
322      0.473533            NaN           NaN
21       0.465823       0.000000      0.000000
24       0.463710       0.000000      0.000000
315           NaN       0.066657      0.052050
156           NaN       0.066682      0.052012
148           NaN       0.063290      0.049464
161           NaN       0.063487      0.059965
168           NaN       0.063457      0.059391
163           NaN       0.063289      0.058946

In [ ]:
data = dataset[0]
plot_ratings_vs_time(data)
#print (data)
#print (data['user', 'rates', 'movie'].rating[:20])
#print (graph["movie"].x[:10,:])

In [9]:
import torch
t_ranking = torch.zeros(5)
h_ranking = torch.zeros(6)
rankings1 = [t_ranking, h_ranking]
print(rankings1)
rankings2 = torch.cat([t_ranking, h_ranking], dim=0)
print(rankings2)

[tensor([0., 0., 0., 0., 0.]), tensor([0., 0., 0., 0., 0., 0.])]
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [8]:

user_features = graph["user"].x
print (movies_features[:10])

tensor([[0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]])

In [13]:
import sqlite3
import pandas as pd

DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results.db"

# Connect to the database
conn = sqlite3.connect(DB_FILE)

# Query to select the ckpts for dataset 'ml-1m' where epoch is 0 and epochs is 1
#DATASETS = [
   # "Epinions", "LastFM", "BookX", "Ml1m", "Gowalla",
   # "Amazon_Beauty", "Amazon_Fashion", "Amazon_Men", "Amazon_Games", "Yelp18"
#]
query = """
SELECT ckpt
FROM experiments
WHERE dataset = 'Yelp18'
  AND epochs = 1
"""
df = pd.read_sql(query, conn)

# Close the connection
conn.close()

# Convert the ckpt column to a list and print it
ckpt_list = df['ckpt'].tolist()
print(ckpt_list)

SOTA metrics inserted successfully.

In [15]:
import sqlite3
import pandas as pd


DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results.db" 
# Connect to the database
conn = sqlite3.connect(DB_FILE)

# Read all entries
df = pd.read_sql("SELECT * FROM experiments WHERE ckpt = 'SOTA'", conn)

# Close the connection
conn.close()

# Display the results

print(df.head())  # Use this if running in a terminal

   ckpt         dataset epochs   bpe    FT valid_mr valid_mrr valid_hits@1  \
0  SOTA            Ml1m   None  None  None     None      None         None
1  SOTA           BookX   None  None  None     None      None         None
2  SOTA        Epinions   None  None  None     None      None         None
3  SOTA          LastFM   None  None  None     None      None         None
4  SOTA  Amazon_Fashion   None  None  None     None      None         None

  valid_hits@3 valid_hits@10 valid_ndcg@10 test_mr test_mrr test_hits@1  \
0         None          None          None    None     None        None
1         None          None          None    None     None        None
2         None          None          None    None     None        None
3         None          None          None    None     None        None
4         None          None          None    None     None        None

  test_hits@3  test_hits@10  test_ndcg@10  valid_ndcg@20  test_ndcg@20
0        None        0.8540        0.6466            0.0           NaN
1        None        0.4801        0.2983            0.0           NaN
2        None        0.1876        0.1052            0.0           NaN
3        None        0.8369        0.6018            0.0           NaN
4        None        0.6610        0.4460            0.0           NaN

In [ ]:
%run script/pretrain.py -c config/recommender/pretrain_all.yaml --gpus [0]

In [ ]:
%run script/run-debug.py -c config/recommender/notebook_cfg.yaml --dataset Gowalla --epochs 0 --bpe 0 --gpus "[0]" --ckpt /itet-stor/trachsele/net_scratch/tl4rec/ckpts/pretrain/inionsBeautyMl1m.pth

/itet-stor/trachsele/net_scratch/conda_envs/ba_bugfix/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
09:52:07   Random seed: 1024
09:52:07   Config file: config/recommender/notebook_cfg.yaml
09:52:07   {'checkpoint': '/itet-stor/trachsele/net_scratch/tl4rec/ckpts/pretrain/inionsBeautyMl1m.pth',
 'dataset': {'class': 'Gowalla',
             'root': '/itet-stor/trachsele/net_scratch/tl4rec/model_outputs/data'},
 'model': {'backbone_model': {'embedding_edge': {'dropout_rate': 0.03247182903513618,
                                                 'hidden_dims': [16,
                                                                 16,
                                                                 16,
                                                                 16,
                                                                 16,
                                                                 16],
                                                 'use_dropout': True,
                                                 'use_layer_norm': False},
                              'simple_model': {'aggregate_func': 'sum',
                                               'class': 'SimpleNBFNet',
                                               'hidden_dims': [32,
                                                               32,
                                                               32,
                                                               32,
                                                               32,
                                                               32,
                                                               32],
                                               'input_dim': 32,
                                               'layer_norm': True,
                                               'message_func': 'distmult',
                                               'project_conv_emb': True,
                                               'short_cut': True}},
           'class': 'Gru-Ultra',
           'edge_features': True,
           'edge_projection': {'dropout_rate': 0.3743907806104132,
                               'hidden_dims': [16, 16],
                               'use_dropout': True,
                               'use_layer_norm': False}},
 'optimizer': {'backbone_conv_lr': 0.00017783663799881164,
               'backbone_mlp_edge_lr': 0.0003360904636420548,
               'class': 'AdamW',
               'projection_edge_lr': 0.000248786603430893},
 'output_dir': '/itet-stor/trachsele/net_scratch/tl4rec/model_outputs/logs',
 'task': {'adversarial_temperature': 1,
          'metric': ['mr', 'mrr', 'hits@1', 'hits@3', 'hits@10', 'ndcg'],
          'name': 'TransductiveInference',
          'num_negative': 54,
          'strict_negative': True},
 'train': {'batch_per_epoch': 0,
           'batch_size': 4,
           'fine_tuning': {'num_epoch_proj': 0},
           'gpus': [0],
           'gradient_clip': False,
           'init_linear_weights': True,
           'log_interval': 100,
           'loss': 'bce',
           'num_epoch': 0,
           'num_evals': 10,
           'save_ckpt': False,
           'save_results_db': False,
           'target_metric': 'ndcg',
           'test_batch_size': 32,
           'wandb': False}}

We will evaluate vs all negatives

Processing...

size of train: train_edges: 810128
size of test: test_edges: 217242
Matched edges: 810128, Unmatched edges: 0
Matched edges: 217242, Unmatched edges: 0
size of train_edges_features_df: (810128, 5)
size of test_edges_features_df: (217242, 5)
Hi we are in the process_df method.
This is the shape of the original df (810128, 5)
This is the shape after we dropped cols (810128, 3)
Number of null rows: 0
Feature tensor shape(before constant_col_detection): torch.Size([810128, 4])
final Feature tensor shape: torch.Size([810128, 4])
process_df was sucessful
Hi we are in the process_df method.
This is the shape of the original df (217242, 5)
This is the shape after we dropped cols (217242, 3)
Number of null rows: 0
Feature tensor shape(before constant_col_detection): torch.Size([217242, 4])
final Feature tensor shape: torch.Size([217242, 4])
process_df was sucessful
size of train_edges_combined: 1425008
size of train_edges_combined_features: 1425008
size of train_target_edges: 712504
size of train_target_edges_features: 712504
size of valid_target_edges: 97624
size of valid_target_edges_features: 97624
size of test_edges: 217242
size of test_edges_features: 217242

Done!
09:53:28   Gowalla dataset
09:53:28   #train: 712504, #valid: 97624, #test: 217242

Graph validation passed!

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x7f98d9dca940>>
Traceback (most recent call last):
  File "/itet-stor/trachsele/net_scratch/conda_envs/ba_bugfix/lib/python3.9/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

Graph validation passed!
Graph validation passed!

In [ ]:
%run script/run.py -c config/recommender/notebook_cfg.yaml --dataset Gowalla --epochs 0 --bpe 20000 --gpus "[0]" --ckpt null

In [ ]:
%run script/run.py -c config/recommender/notebook_cfg.yaml --dataset Epinions --epochs 1 --bpe 10 --gpus "[0]" --ckpt null

In [7]:
import sqlite3

DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results.db"

# Connect to the database
conn = sqlite3.connect(DB_FILE)
cursor = conn.cursor()

# Manually insert Yelp18 data
yelp18_data = (
    "-", "Yelp18", 8, 17140, 0,  # ckpt, dataset, epochs, bpe, FT
    1006.4, 0.0366413, 0.0136183, 0.0315789, 0.073482, 0.0,  # valid_mr, valid_mrr, valid_hits@1, valid_hits@3, valid_hits@10, valid_ndcg@10
    1992.93, 0.017529, 0.00529698, 0.0132162, 0.034253,  # test_mr, test_mrr, test_hits@1, test_hits@3, test_hits@10
    0.0900301, 0.0676829  # valid_ndcg@20, test_ndcg@20
)

# Manually insert Gowalla data
gowalla_data = (
    "-", "Gowalla", 8, 22265, 0,  # ckpt, dataset, epochs, bpe, FT
    764.808, 0.080052, 0.0424691, 0.0786897, 0.149031, 0.0,  # valid_mr, valid_mrr, valid_hits@1, valid_hits@3, valid_hits@10, valid_ndcg@10
    70747.3, 1.41349e-05, 0, 0, 0,  # test_mr, test_mrr, test_hits@1, test_hits@3, test_hits@10
    0.1098, 0.0  # valid_ndcg@20, test_ndcg@20
)

# Corrected SQL query with double quotes around column names
insert_query = """
INSERT INTO experiments (
    ckpt, dataset, epochs, bpe, FT,
    valid_mr, valid_mrr, "valid_hits@1", "valid_hits@3", "valid_hits@10", "valid_ndcg@10",
    test_mr, test_mrr, "test_hits@1", "test_hits@3", "test_hits@10",
    "valid_ndcg@20", "test_ndcg@20"
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

# Execute the inserts
cursor.execute(insert_query, yelp18_data)
cursor.execute(insert_query, gowalla_data)

# Commit changes and close connection
conn.commit()
conn.close()

print("Entries for Yelp18 and Gowalla successfully added to the database.")

Entries for Yelp18 and Gowalla successfully added to the database.

In [2]:
print(os.getcwd())
os.chdir("/usr/itetnas04/data-scratch-01/trachsele/data/tl4rec") 
print(os.getcwd())

NameError: name 'os' is not defined

In [2]:
import sqlite3
from pathlib import Path

DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results_all_to_all.db"

# Ensure the directory exists
Path(DB_FILE).parent.mkdir(parents=True, exist_ok=True)

def create_database(db_path):
    """Create a new SQLite database and ensure the 'experiments' table exists."""
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Define the schema (adjust as needed)
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS experiments (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ckpt TEXT,
        dataset TEXT,
        epochs INTEGER,
        bpe INTEGER,
        FT INTEGER
    )
    """)

    conn.commit()
    conn.close()

# Call the function to create the database
create_database(DB_FILE)
print(f"Database created at {DB_FILE}")

Database created at //itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results_all_to_all.db

In [4]:
import pandas as pd
# Please dont delete counts the best results
# Load the filtered results CSV
df = pd.read_csv("best_results_multi.csv")

# Count occurrences for epochs = 0
epoch0_counts = df[df['epochs'] == 0]['ckpt'].value_counts()

# Count occurrences for epochs = 1
epoch1_counts = df[df['epochs'] == 1]['ckpt'].value_counts()

# Count occurrences overall (epochs 0 or 1)
overall_counts = df['ckpt'].value_counts()

# Display the counts
print("Checkpoint counts for epochs = 0:")
print(epoch0_counts)

print("\nCheckpoint counts for epochs = 1:")
print(epoch1_counts)

print("\nOverall checkpoint counts (epochs 0 or 1):")
print(overall_counts)

Checkpoint counts for epochs = 0:
ckpt
Amazon_Beauty.pth          3
BookX.pth                  3
Beauty_Games_tuned.pth     3
Beau_Epin.pth              3
Epinions.pth               3
Men_Epin_Gowa_Book.pth     3
Amazon_Games.pth           2
Amazon_Fashion.pth         2
Beau_Epin_Book_Game.pth    2
Beau_Epin_Book.pth         2
Yelp18.pth                 1
Gowalla.pth                1
inionsBeautyMl1m.pth       1
Amazon_Men.pth             1
Name: count, dtype: int64

Checkpoint counts for epochs = 1:
ckpt
Amazon_Games.pth           5
Beau_Epin.pth              4
Beau_Epin_Book.pth         4
Men_Epin_Gowa_Book.pth     3
Gowalla.pth                2
Ml1m.pth                   2
Amazon_Men.pth             2
Amazon_Beauty.pth          2
LastFM.pth                 1
inionsBeautyMl1m.pth       1
Epinions.pth               1
Beau_Epin_Book_Game.pth    1
Yelp18.pth                 1
Beauty_Games_tuned.pth     1
Name: count, dtype: int64

Overall checkpoint counts (epochs 0 or 1):
ckpt
Beau_Epin.pth              7
Amazon_Games.pth           7
Beau_Epin_Book.pth         6
Men_Epin_Gowa_Book.pth     6
Amazon_Beauty.pth          5
Beauty_Games_tuned.pth     4
Epinions.pth               4
BookX.pth                  3
Gowalla.pth                3
Beau_Epin_Book_Game.pth    3
Amazon_Men.pth             3
inionsBeautyMl1m.pth       2
Yelp18.pth                 2
Amazon_Fashion.pth         2
Ml1m.pth                   2
LastFM.pth                 1
Name: count, dtype: int64

In [3]:
import sqlite3
import pandas as pd

# Define database path
DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results_all_to_all.db"

def read_database_entries(db_path):
    """Connects to the SQLite database and retrieves all entries from the 'experiments' table."""
    try:
        # Connect to database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        
        # Check if table exists
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='experiments'")
        table_exists = cursor.fetchone()
        
        if not table_exists:
            print("Table 'experiments' does not exist in the database.")
            return None
        
        # Read data into DataFrame
        df = pd.read_sql_query("SELECT * FROM experiments", conn)
        
        # Close connection
        conn.close()
        
        # Display the data
        print(df)

        return df
    
    except Exception as e:
        print(f"Error reading database: {e}")
        return None

# Execute function
read_database_entries(DB_FILE)

   id                ckpt dataset  epochs  bpe  FT valid_mr  valid_mrr  \
0   1   Amazon_Beauty.pth  LastFM       0  763   0     None   0.502169
1   2        Epinions.pth  LastFM       0  763   0     None   0.456853
2   3      Amazon_Men.pth  LastFM       0  763   0     None   0.429137
3   4  Amazon_Fashion.pth  LastFM       0  763   0     None   0.266914
4   5            Ml1m.pth  LastFM       0  763   0     None   0.312975
5   6    Amazon_Games.pth  LastFM       0  763   0     None   0.486230

   valid_hits@1  valid_hits@3  valid_hits@10  valid_ndcg@10 valid_ndcg@20  \
0      0.360044      0.582876       0.789791       0.289983          None
1      0.311745      0.525796       0.764544       0.265768          None
2      0.270033      0.507684       0.759605       0.250993          None
3      0.150384      0.291438       0.515917       0.130463          None
4      0.219539      0.362788       0.471460       0.132546          None
5      0.333699      0.579034       0.787596       0.285585          None

  test_mr  test_mrr  test_hits@1  test_hits@3  test_hits@10  test_ndcg@10  \
0    None  0.543926     0.403605     0.626434      0.820317      0.306830
1    None  0.500835     0.352266     0.580557      0.795740      0.283514
2    None  0.473893     0.317313     0.553250      0.806663      0.268633
3    None  0.306359     0.186783     0.336974      0.564173      0.141744
4    None  0.360369     0.258875     0.407974      0.535227      0.146190
5    None  0.531254     0.381759     0.617149      0.827963      0.303179

  test_ndcg@20
0         None
1         None
2         None
3         None
4         None
5         None

,id,ckpt,dataset,epochs,bpe,FT,valid_mr,valid_mrr,valid_hits@1,valid_hits@3,valid_hits@10,valid_ndcg@10,valid_ndcg@20,test_mr,test_mrr,test_hits@1,test_hits@3,test_hits@10,test_ndcg@10,test_ndcg@20
0,1,Amazon_Beauty.pth,LastFM,0,763,0,None,0.502169,0.360044,0.582876,0.789791,0.289983,None,None,0.543926,0.403605,0.626434,0.820317,0.306830,None
1,2,Epinions.pth,LastFM,0,763,0,None,0.456853,0.311745,0.525796,0.764544,0.265768,None,None,0.500835,0.352266,0.580557,0.795740,0.283514,None
2,3,Amazon_Men.pth,LastFM,0,763,0,None,0.429137,0.270033,0.507684,0.759605,0.250993,None,None,0.473893,0.317313,0.553250,0.806663,0.268633,None
3,4,Amazon_Fashion.pth,LastFM,0,763,0,None,0.266914,0.150384,0.291438,0.515917,0.130463,None,None,0.306359,0.186783,0.336974,0.564173,0.141744,None
4,5,Ml1m.pth,LastFM,0,763,0,None,0.312975,0.219539,0.362788,0.471460,0.132546,None,None,0.360369,0.258875,0.407974,0.535227,0.146190,None
5,6,Amazon_Games.pth,LastFM,0,763,0,None,0.486230,0.333699,0.579034,0.787596,0.285585,None,None,0.531254,0.381759,0.617149,0.827963,0.303179,None

In [2]:
import sqlite3

DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results_all_to_all.db"

def check_table_columns(db_path):
    """Checks the columns available in the 'experiments' table."""
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("PRAGMA table_info(experiments)")
    columns = [row[1] for row in cursor.fetchall()]

    conn.close()

    print("Columns in 'experiments' table:", columns)

check_table_columns(DB_FILE)

Columns in 'experiments' table: ['id', 'ckpt', 'dataset', 'epochs', 'bpe', 'FT', 'valid_mr', 'valid_mrr', 'valid_hits@1', 'valid_hits@3', 'valid_hits@10', 'valid_ndcg@10', 'valid_ndcg@20', 'test_mr', 'test_mrr', 'test_hits@1', 'test_hits@3', 'test_hits@10', 'test_ndcg@10', 'test_ndcg@20']

In [9]:
import sqlite3
import pandas as pd

DB_FILE = "//itet-stor/trachsele/net_scratch/tl4rec/model_outputs/results.db"
CSV_PATH = "/itet-stor/trachsele/net_scratch/tl4rec/report_data/Ml1m_all.csv"

# List of required checkpoints
required_ckpts = [
    "Beau_Epin.pth", "Beau_Epin_Book_Game.pth", "Men_Epin_Gowa_Book.pth",
    "Beau_Epin_Book.pth", "Beauty_Games_tuned.pth", "inionsBeautyMl1m.pth", "ETE", "SOTA"
]

# Connect to the database
conn = sqlite3.connect(DB_FILE)

# Query to filter based on dataset and checkpoint
query = """
    SELECT * FROM experiments
    WHERE dataset = 'Ml1m'
    AND ckpt IN ({})
""".format(', '.join(['?'] * len(required_ckpts)))  # Use `.format()` to properly close the string

df = pd.read_sql(query, conn, params=required_ckpts)

# Close the connection
conn.close()

# Export the filtered DataFrame to a CSV file
df.to_csv(CSV_PATH, index=False)

print(f"Filtered data exported to {CSV_PATH}")

Filtered data exported to /itet-stor/trachsele/net_scratch/tl4rec/report_data/Ml1m_all.csv

In [ ]:
checkpoint_abbr = {
    "Beau_Epin.pth": "AB-Epi",
    "Beau_Epin_Book_Game.pth": "AB-Epi-Bx-AG",
    "Men_Epin_Gowa_Book.pth": "AM-Epi-Gw-Bx",
    "Beau_Epin_Book.pth": "AB-Epi-Bx",
    "Beauty_Games_tuned.pth": "AB-AG",
    "inionsBeautyMl1m.pth": "Epi-AB-M1"
}

In [ ]:
dataset_abbr = {
    "Amazon Beauty": "AB",
    "Amazon Games": "AG",
    "Amazon Fashion": "AF",
    "Amazon Men": "AM",
    "Epinions": "Epi",
    "ML-1M": "M1",
    "LastFM": "LF",
    "Gowalla": "Gw",
    "Yelp18": "Yp",
    "BookX": "Bx"
}